 body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: gray;
} 
 
 
 
 <!-- Шапка сайта-->
 /* WebStudio logo */

 /*.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    color: #2196F3;
 }

 .logo-black{
     color: black;
 }*/
 
.list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
 }
.contact-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    
 }

 /* Активная ссылка */

 .link-active:focus,
 .link-active:hover{
    color: #2196F3;
 }

.mail-link-active:focus,
.mail-link-active:hover{
    color: #2196F3;
 }

 <!-- Герой-->
 
 /*hero*/
 .hero{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;
 }

 .title-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
 }

 .btn-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    cursor:pointer
 }
 /* Bg */
 
 
 /*title-hero*/
  Эффективные решения для вашего бизнеса 
 /*.title-hero {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
 }/*


 /*btn-hero*/
 /* Заказать услугу */



 <!-- Приемущества-->


 <!-- Команда-->


 <!-- Футер-->
