 .body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
 } 
 
 
 
 <!-- Шапка сайта-->
 /* WebStudio logo */
 

 /* Активная ссылка */
 .item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
        
    color: #2196F3;
 }


  /*.logo {
      
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
 }*/
 
/*.link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
}*/



 <!-- Герой-->
 
 /*hero*/
 /* Bg */
 
 
 /*title-hero*/
  Эффективные решения для вашего бизнеса 
 /*.title-hero {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
 }/*


 /*btn-hero*/
 /* Заказать услугу */



 <!-- Приемущества-->


 <!-- Команда-->


 <!-- Футер-->
